@media only screen and (min-width: 768px) {
    .amshopby-filter-current .block-subtitle {
        display: none;
    }

    .sidebar-main .filter .block-subtitle {
        display: none;
    }

    .block-content .block-actions {
        display: none;
    }

    .filter-options-item .amshopby-item {
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 2%;
    }

    ::marker {
        content: none;
    }

    .filter-options-title:after {
        margin-right: 4%;
    }

    .filter-options-item .amshopby-item a {
        margin-right: 3%;
        margin-left: 10%;
        margin-top: auto;
        margin-bottom: auto;
        color: #666666;
    }

    .amshopby-filter-value {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #666666;

    }

    .amshopby-filter-current .amshopby-item.item {
        padding: 0 0 0 15px;
    }

    .sidebar-main .filter-options {
        margin-left: -10%;
        background: #F4F4F4 !important;
        border: 1px solid #E2E2E2;
        width: 120%;
    }

    .amshopby-filter-name {
        display: none !important;
    }

    .filter-options-item .filter-options-content {
        background-color: #FFFFFF;
        margin-top: 5%;
        margin-bottom: -6%
    }

    .filter-options-item .filter-options-title {
        font-weight: 600;
        margin-left: 8%;
    }

    .filter-options-content .am-ranges .items a {
        margin-left: 7%;
    }

    .filter-options-content .item {
        width: 95%;
    }

    .filter-options-item .filter-options-content .items .item a .label {
        margin-left: 10px !important;
    }

    .filter-options-item.active .filter-options-title:after {
        margin-right: 4%;

    }

    .item .count {
        margin-right: 3%;
    }

    body .item input[type=checkbox][name^=amshopby]+a:before,
    body .item input[type=radio][name^=amshopby]+a:before {
        height: 16px;
        width: 16px;
        margin-top: 1%;

    }

    body .item input[type=checkbox][name^=amshopby]:not([checked])+a.am_shopby_link_selected:before,
    body .item input[type=radio][name^=amshopby]:not([checked])+a.am_shopby_link_selected:before,
    body .item input[type=checkbox][name^=amshopby][checked]+a:before,
    body .item input[type=radio][name^=amshopby][checked]+a:before {
        background-color: white;
        border: 1px solid #4A90E2;
    }

    body .item input[type=checkbox][name^=amshopby]:not([checked])+a.am_shopby_link_selected:after,
    body .item input[type=radio][name^=amshopby]:not([checked])+a.am_shopby_link_selected:after,
    body .item input[type=checkbox][name^=amshopby][checked]+a:after,
    body .item input[type=radio][name^=amshopby][checked]+a:after {
        color: #4A90E2;
        left: 3px;
    }

    .Denskport_Filter {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        margin-left: 2%;
        margin-bottom: 5%;

    }

    .Denskport_clear {
        float: right;

        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        width: auto;
    }

    .Denskport_clear a {

        color: #898ea2 !important;
        margin-left: -12%;
    }

    .Denskport_clear a img {

        margin-left: 4%;
        width: 14%;
        padding: 0 2px 0 1px;
    }

    .Denskport_clear a:hover {

        text-decoration: none;
    }

    .Denskport_Filters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 6%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .Denskport_Filters .amshopby-item {
        width: 30%;

    }

    .DenskportV1 {
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {



    div#amasty-shopby-product-list .toolbar-products:nth-child(3) .mobile-filters-proxy-button button {
        display: none;
    }

    .block-actions.filter-actions {
        padding: 5px 15px;
        margin: -5% 0 5% 0;
    }

    .page-title-wrapper {
        display: none;
    }

    .amshopby-filter-value {
        font-size: 13px;
        line-height: 16px;
    }

    .amshopby-filter-current .amshopby-items .item {

        padding-left: 15px;
        margin-top: 10px;
    }

    .block-actions.filter-actions:nth-child(3) {
        display:none;
    }

    .Denskport_Title {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 5%;
    }

    span.collapsed-text {
        display: none;
    }

    a.collapsed-text-toggle {
        display: none;
    }

    body #amasty-shopby-product-list .toolbar-products .mobile-filters-proxy-button {
        margin-top: 0;
        float: left;
        width: 35%
    }

    #amasty-shopby-product-list .toolbar-products .mobile-filters-proxy-button button {
        padding: 13px 30px;
        width: 100%;
    }

}